.filter_range .input-range__slider {
    background: #ffffff!important;
    border: 2px solid #111112!important;
    margin-top: -0.7rem;
    height: 0.9rem;
    width: 0.9rem;
}

.filter_range  .input-range__track--active {
    background: #141414;
}

.filter_range .input-range__label {
    font-family:  "LatoRegular";
    color: black;
    font-size: 14px;
    font-weight: 700;
}


.filter_range {
    padding: 15px 10px 15px 8px;
}
.input-range__label-container{
    top: 40px
}

.filter_range .input-range__label--max .input-range__label-container {
    display: none;
}

.filter_range .input-range__label--min .input-range__label-container {
    display: none;
}