.header {

    background-color: rgb(255, 255, 255);
}

.header_part {
    display: inline-block;
}

.header_left {
    width: 28%;
}

.header_center {
    width: 43%;
    text-align: center;
}

.header_right {
    width: 200px;
    background-color: white;
    height: 65px;
    text-align: center;
    margin-left: calc(19% - 260px);
    position: relative;
}

.header_logo {
    vertical-align: super;
    margin: 0 0 6px 35.7%;
}

.header_navigation {
    vertical-align: top;
    margin-top: 35px;
}

.navigation_link {
    color: black;
    font: 400 16px "LatoRegular";
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
}

.icon {
    margin-top: 29px;
    margin-bottom: 20px;
    display: inline-block;
}

.search {
    width: 22px;
    height: 22px;
    background-image: url("../../images/header/search.png");
}

.profile {
    margin-left: 37px;
    width: 22px;
    height: 22px;
    background-image: url("../../images/header/profile.png");
}

.trolley {
    margin-left: 34px;
    width: 21px;
    height: 22px;
    background-image: url("../../images/header/trolley.png");
    position: relative;
}

.trolley div {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 2px;
    z-index: 1000;
    left: 10px;
    bottom: 13px;
    text-align: center;
    font: 700 12px/20px "LatoBold";
    color: #8f2121;
    vertical-align: middle;
}

.trolley_quantity_visible {
    visibility: visible;
}

.trolley_quantity_invisible {
    visibility: hidden;
}

.like_link:hover {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.cart_in_header_item {
    vertical-align: top;
    margin-top: 31px;
}

.cart_in_header {
    position: absolute;
    padding: 10px 30px 30px 30px;
    background-color: white;
    border: black solid 1px;
    border-top: none;
    top: 81px;
    width: 400px;
    right: 0;
    text-align: left;
    z-index: 1000;
}

.cart_in_header_product {
    margin-top: 20px;
}

.cart_in_header_product_image {
    width: 80px;
    height: 80px;
}

.cart_in_header_product_names {
    margin: 21px 0 0 10px;
    width: 200px;
}

.cart_in_header_product_name {
    color: #252525;
    font: 700 16px/19px "LatoBold";
}

.cart_in_header_product_quantity {
    color: #bdbdbd;
    letter-spacing: 1px;
    font: 700 11px/13px "LatoBold";
    margin-top: 6px;
}

.cart_in_header_product_price {
    color: #252525;
    font: 700 16px/19px "LatoBold";
    text-align: right;
    width: 65px;
}

.cart_in_header_remove {
    margin-left: 34px;
    color: #bdbdbd;
}

.cart_in_header_button {
    width: 160px;
    height: 40px;
    color: #c6271b;
    letter-spacing: 2px;
    font: 700 14px/40px "LatoBold";
    border-radius: 4px;
    text-align: center;
    margin-top: 19px;
    cursor: pointer;
}

.search_in_header {
    width: 460px;
    background-color: #ffffff;
    position: absolute;
    top: 81px;
    right: 150px;
    z-index: 5000;
}

.search_in_header:last-child {
    padding-bottom: 30px;
}

.search_input {
    width: 340px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #ededed;
    color: #252525;
    font: 400 16px/40px "LatoRegular";
    margin-top: 30px;
    padding: 0 25px;
}

.search_input:focus {
    outline: none;
}

.search_input_button {
    position: absolute;
    display: block;
    content: url('../../images/header/small_search.jpg');
    top: 43px;
    right: 47px;
}

.search_in_header_product_names {
    width: 200px;
    text-align: left;
    padding-left: 10px;
}

.user_menu_in_header {
    width: 260px;
    box-shadow: 0 0 15px rgba(191, 198, 207, 0.2);
    border-radius: 0 0 4px 4px;
    position: absolute;
    top: 81px;
    right: 95px;
    background-color: #ffffff;
    z-index: 1000;
}

.user_menu_element {
    display: block;
    color: #252525;
    letter-spacing: 0.43px;
    font: 600 17px/60px "LatoBold";
    cursor: pointer;
}

.user_menu_element:hover {
    color: #ffffff;
    background-color: #c6271b;
}

@media (max-width: 1439px) {
    .header_right {
        width: 200px;
        margin-left: calc(19% - 200px);
    }

    .search_in_header {
        right: 125px;
    }
}

@media (max-width: 1079px) {
    .header_right {
        width: 180px;
        margin-left: calc(19% - 180px);
    }

    .navigation_link {
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

._modal {
    z-index: 30;
}


/* Dropdown Button */
.dropbtn {

    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 1.9%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 1.9%;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;


}


.dropdown-content2 {

    /* display: none;  */
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    margin-left: 100%;
    margin-top: -16.8%;


}

.dropdown-content2 a:hover {
    background-color: #ddd
}

.dropdown-content3 {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    margin-left: 100%;
    margin-top: 16.8%;


}

.dropdown-content3 a:hover {
    background-color: #ddd
}

.new123 {

    height: 20px;
    background-color: black;
    width: 100%;

}

.new123 p {
    margin: 0;
    color: white;
    font-size: 11px;

}

.container {
    height: 65px
}

.header-top {
    font-size: 13px;
    background-color: #000;
}

.header-top-container {
    padding: 0 20px;
    margin: 0 auto;
    font-size: 13px;
    height: 30px;
    color: white;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    align-items: center;
}
.header-top-container-inputs-container {
    display: flex;
}
.header-top-container-inputs-container > * {
    height: 30px;
    color: white;
    background-color: #464646;
    border: none;
    min-width: 150px;
    padding: 0 10px;
    box-sizing: content-box;
    outline: none !important;
}

.header-top-container-inputs-container > input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.header-top-container-inputs-container > select {
    margin-right: 1px;
}

.header-main {
    padding: 0 20px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header-main-navbar > a {
    color: black;
    font: 400 16px "LatoRegular";
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.header-main-cart-pick {
    position: relative;
    cursor: pointer;
}

.header-main-cart-pick-quantity {
    position: absolute;
    top: 44%;
    left: 61%;
    background-color: red;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font: 400 18px "LatoRegular";
}
.header-top-container-select-category{
    margin-right: 2px;
    padding: 0 10px;
    cursor: pointer;
}
.select-categories {
    display: flex;
    height: 100%;
    align-items: center;
}
.select-categories-open {
    display: block;
    position: relative;
}
.select-categories-closes {
    display: none;
}